@model IEnumerable<Loteria.Models.DbModels.Nagroda>

@{
    ViewBag.Title = "Index";
}

<style>
    h2 {
        color: darkblue;
        font-family: monospace;
    }

    h4 {
        color: darkblue;
        font-family: monospace;
    }
</style>

<h2>Nagrody</h2>

<p>
    @Html.ActionLink("Dodaj nagrodę", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nagroda)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nagroda)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.nagrodaId }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.nagrodaId }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.nagrodaId })
        </td>
    </tr>
}

</table>
